
#singup{
    width: 250px;
    background-color: aqua;
    margin: 30px;
    border: 1px solid orange;
    border-radius: 15px;
    box-shadow:5px 5px 5px 5px #888888
    
}
form{
    margin-left: 20px;
}
form label{
    display: flex;
}
form input{
    margin: 5px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
}
#button{
    background-color:rgb(223, 230, 217);
    font: bold;
    margin: 20px;

}